<div class="contactParent">
  <div class="contactTopDiv">
    <h1 class="contactTitle">Contact Information</h1>
    <div class="contactBorder"></div>
  </div>

  <div class="contactBottomDiv">
    <div class="cardParent">
      <div class="contactForm">CONTACT FORM</div>
      <img src="../../../assets/images/contact-us.png" alt="" class="cardImg" />
      <h3 class="cardTitle">Contact Sales</h3>
      <p class="cardContent">
        Learn more about our Magnetic Resonance and Preclinical Imaging products
        and solutions.
      </p>
      <button class="readMore">
        <i class="bi bi-arrow-right"></i>
        <p>Contact Sales</p>
      </button>
    </div>

    <div class="cardParent">
      <div class="contactForm">CONTACT FORM</div>
      <img
        src="../../../assets/images/customer-support.png"
        alt=""
        class="cardImg"
      />
      <h3 class="cardTitle">Contact Customer Support</h3>
      <p class="cardContent">
        For technical service, please contact our Magnetic Resonance and
        Preclinical Imaging customer support centers.
      </p>
      <button class="readMore">
        <i class="bi bi-arrow-right"></i>
        <p>CREATE A SERVICE REQUEST</p>
      </button>
    </div>
  </div>
</div>
