.contactParent {
  margin: 50px 0;
  padding: 20px;
}

.contactDescription {
  font-size: 16px;
  font-weight: bold;
}

.contactTitle {
  font-size: 30px;
  font-weight: bold;
}

.contactBorder {
  width: 60px;
  border-top: 2px solid var(--light-blue);
}

.contactBottomDiv {
  margin-top: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px;
  gap: 10px;
}

.cardParent {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
}

.readMore {
  display: flex;
  width: auto;
  height: 30px;
  color: var(--light-blue);
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.36px;
  padding: 0 15px;
  border: none;
  gap: 5px;
}

@media only screen and (max-width: 688px) {
  .contactParent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .contactBorder {
    width: 100%;
  }
  .contactForm {
    display: none;
  }
}
