<section class="allCards">
  <div class="cardParent">
    <img
      src="../../../assets/images/nmr-instruments.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">NMR Instruments</h3>
    <p class="cardContent">
      NMR is an information rich, non-destructive analytical technique. It
      provides detailed information about molecular structure, dynamic processes
      and allows the direct observation of chemical reactions.
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>

  <div class="cardParent odd">
    <img
      src="../../../assets/images/epr-instruments.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">EPR Instruments</h3>
    <p class="cardContent">
      Bruker's high-performance portfolio of EPR instruments offers a
      non-destructive analytical technique for the direct detection of
      paramagnetic species. Free radicals and transition metal ions can be
      identified and quantified in solids, liquids, gases, cells, and in vivo.
      Structural insights from the chemical structure to intermolecular
      interactions are obtained from both CW and Pulse EPR techniques.
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>

  <div class="cardParent">
    <img
      src="../../../assets/images/pharma-solutions.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">NMR & EPR Pharma Solutions</h3>
    <p class="cardContent">
      The quantitative nature and unparalleled structural information given by
      NMR and EPR applied to Pharmaceutical Industry, biotech, generics and
      CROs.
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>

  <div class="cardParent odd">
    <img
      src="../../../assets/images/food-analysis-solutions.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">NMR, EPR & TD-NMR Food Analysis Solutions</h3>
    <p class="cardContent">
      Bruker has tailored this technology specifically for the analysis of food.
      The FoodScreener™ provides the NMR fingerprint specific to an individual
      sample. The profile can then be compared with a large database of spectra
      for known authentic samples. This innovative instrument provides a
      valuable tool for quality control monitoring and testing for purity and
      authenticity issues.
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>

  <div class="cardParent">
    <img
      src="../../../assets/images/food-analysis-solutions.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">NMR, EPR & TD-NMR Food Analysis Solutions</h3>
    <p class="cardContent">
      Bruker has tailored this technology specifically for the analysis of food.
      The FoodScreener™ provides the NMR fingerprint specific to an individual
      sample. The profile can then be compared with a large database of spectra
      for known authentic samples. This innovative instrument provides a
      valuable tool for quality control monitoring and testing for purity and
      authenticity issues.
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>

  <div class="cardParent odd">
    <img
      src="../../../assets/images/clinical-research-solutions.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">NMR Clinical Research Solutions</h3>
    <p class="cardContent">
      Pre-Clinical Screening and In Vitro Diagnostics (IVDr) (for research use
      only)
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>

  <div class="cardParent">
    <img
      src="../../../assets/images/industrial-solutions.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">NMR, EPR & TD-NMR Industrial Solutions</h3>
    <p class="cardContent">
      Bruker’s innovative and reliable MR-based industrial solutions support
      industries and organizations in delivering high-quality products and
      materials
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>

  <div class="cardParent odd">
    <img
      src="../../../assets/images/food-analysis-solutions.png"
      alt=""
      class="cardImg"
    />
    <h3 class="cardTitle">Make Magnetic Resonance more relevant</h3>
    <p class="cardContent">
      Magnetic Resonance is a unique technique that offers the opportunity to
      study living cells and tissues as well as provides detailed analysis of
      molecular solutions and body fluids.
    </p>
    <button class="readMore">
      <i class="bi bi-arrow-right"></i>
      <p>READ MORE</p>
    </button>
  </div>
</section>
