<div class="footerParent">
  <div class="logoParent">
    <img
      src="../../../assets/images/Bruker-Project.png"
      alt="Company Logo"
      class="companyLogo"
    />
    <p>© Copyright Bruker 2022</p>
  </div>

  <div class="footerRightDiv">
    <div class="backToTop">
      <i class="bi bi-arrow-up upArrow"></i>
    </div>

    <div class="socialMediaIcons">
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-youtube"></i>
      <i class="bi bi-instagram"></i>
    </div>

    <div class="footerNav">
      <ul>
        <li>Terms of Use</li>
        <li>Privacy Notice</li>
        <li>Cookie Notice</li>
        <li>Imprint</li>
        <li>UKMSA</li>
      </ul>
    </div>
  </div>
</div>
