<header>
  <nav class="navBar">
    <div class="logoParent">
      <img
        src="../../../assets/images/Bruker-Project.png"
        alt="Company Logo"
        class="companyLogo"
      />
    </div>

    <div class="navBarRight">
      <div class="topNav">
        <ul>
          <a href="#"><i class="bi bi-cart4 cartIcon"></i></a>
          <a href="#"><i class="bi bi-globe globeIcon"></i></a>

          <button class="myBrukerBtn">
            <i class="bi bi-person personIcon"></i>
            MY BRUKER
          </button>

          <button class="contactExpertBtn">CONTACT EXPERT</button>
          <i class="bi bi-list hamburgerMenu"></i>
        </ul>
      </div>

      <div class="bottomNav">
        <ul>
          <li><a href="#">PRODUCTS & SOLUTIONS</a></li>
          <li><a href="#">APPLICATIONS</a></li>
          <li><a href="#">SERVICES & SUPPORT</a></li>
          <li><a href="#">NEWS & EVENTS</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CAREERS</a></li>
          <li><i class="bi bi-search searchIcon"></i></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="openingContent">
    <p class="headerOpeningTitleSm">PRODUCTS & SOLUTIONS</p>
    <h1 class="headerTitle">Magnetic Resonance</h1>
    <div class="border"></div>

    <p class="openingContentP">
      Magnetic resonance is a unique non-invasive and non-destructive research
      tool that aids in the study of living cells and tissues as well as
      provides detailed analysis of molecular solutions and body fluids.
      Magnetic resonance analyses can provide both functional and anatomical
      information, allowing relationships between the two to be determined.
    </p>

    <div class="contactHeader">
      <div class="contactSales">
        <i class="bi bi-plus-lg plusSign"></i>
        CONTACT SALES
      </div>

      <div class="contactSupport">
        <i class="bi bi-plus-lg plusSign"></i>
        CONTACT SUPPORT
      </div>
    </div>
  </div>
</header>
