<div class="magneticResonanceParent">
  <p>
    Magnetic resonance, which exploits the change in energy levels after
    exposure to a strong magnetic field, forms the basis of some powerful
    analytical research tools. Magnetic resonance spectroscopy (MRS) encompasses
    a variety of related techniques, such as nuclear magnetic resonance (NMR)
    and electron paramagnetic resonance (EPR), that have a diverse array of
    research, clinical and industry applications.
    <br />
    <br />
    The non-invasive, non-destructive nature of the technology allows the study
    of living cells and tissues as well as detailed analysis of solutions and
    body fluids. A combination of magnetic resonance analyses can provide both
    functional information and anatomical information, allowing relationships
    between the two to be determined.
    <br />
    <br />
    MRS analysis of urine and blood samples during healthy and diseased states
    has enabled the identification of biomarkers for assessing the risk of
    developing a range of conditions as well as predicting treatment response to
    particular chemotherapies.
    <br />
    <br />
    Bruker is the market leader in magnetic resonance spectroscopy instruments
    including NMR, time-domain NMR, EPR and preclinical magnetic resonance
    imaging (MRI).
    <br />
    <br />
    In addition, Bruker is also the leading manufacturer of superconductor
    magnets and ultra high-field magnets for NMR and MRI solutions.
  </p>
</div>
