<div class="labscapeParent">
  <div class="labscapeTopDiv">
    <p class="labscapeDescription">
      OUR LABSCAPE TUBES AND CAPS ARE THERE TO HELP YOU ENSURE THE SYSTEM IS
      PERFORMING ACCURATLY AND REPRODUCABLE.
    </p>
    <h1 class="labscapeTitle">
      Shop for NMR Tubes and Caps at Bruker's LabScape Store
    </h1>
    <div class="labscapeBorder"></div>
  </div>

  <div class="labscapeBottomDiv">
    <div class="cardParent odd">
      <div class="liquidNmr">LIQUID NMR</div>
      <img src="../../../assets/images/nmr-tubes.png" alt="" class="cardImg" />
      <h3 class="cardTitle">Unracked 7" NMR-Tubes with coded closed caps</h3>
      <p class="cardContent">
        Set of certified 100 tubes with coded closed caps designed for daily use
        on NMR or on inner carousel of SampleJet. Specifications: Outer Diameter
        Wall Thickness Camber 5 mm 0,38...
      </p>
      <button class="readMore">
        <i class="bi bi-arrow-right"></i>
        <p>VIEW PRODUCT</p>
      </button>
    </div>

    <div class="cardParent">
      <div class="liquidNmr">LIQUID NMR</div>
      <img
        src="../../../assets/images/sample-tubes.png"
        alt=""
        class="cardImg"
      />
      <h3 class="cardTitle">
        Rack with 96 sample tubes for use with SampleJet
      </h3>
      <p class="cardContent">
        Rack with 96 coded tubes with caps designed for high throughput use with
        SampleJet. Tube specification: Outer Diameter Length Wall Thickness
        Camber 5 mm 103.5 mm 0,38 mm 60 µm...
      </p>
      <button class="readMore">
        <i class="bi bi-arrow-right"></i>
        <p>VIEW PRODUCT</p>
      </button>
    </div>

    <div class="cardParent odd">
      <div class="liquidNmr">LIQUID NMR</div>
      <img
        src="../../../assets/images/closed-caps.png"
        alt=""
        class="cardImg"
      />
      <h3 class="cardTitle">Coded closed caps for SampleJet</h3>
      <p class="cardContent">
        A Bruker BioSpin product Set of 100 Closed Caps for SampleJet with
        individual code....
      </p>
      <button class="readMore">
        <i class="bi bi-arrow-right"></i>
        <p>VIEW PRODUCT</p>
      </button>
    </div>
  </div>
</div>
